<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Missing font awesome -->

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/partials/navbar.css">

    <script src="/partials/navbar.js"></script>

    <title>YelpCamp</title>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <div class="ycPageSize">
            <a href="#home" class="active">YelpCamp</a>
            <a href="#news">Login</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="hamburgerFunction()">
                <!-- Missing font awesome -->
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
