html, body, h1, h2, h3, p
{
    margin: 0;
    border: 0;
    padding: 0;
}

button
{
    min-height: 50px;
    min-width: 50px;
    height: 20vh;
    width: 20vw;
    max-height: 150px;
    max-width: 150px;

    margin-top: 15px;
    border-radius: 25px;
}

.disableSelect 
{
    user-select: none;
}

.pageSection
{
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.hoverColor
{
    background-color: lightseagreen;
}

.selectedColor
{
    background-color: dodgerblue;
}

.flex
{
    display: flex;
}

.flexColumnDir
{
    flex-direction: column;
}

.centerContents
{
    justify-content: center;
}

.alignContents
{
    align-items: center;
}

.alignTextCenter
{
    text-align: center;
}

.spaceBetweenContents
{
    justify-content: space-between;
}

.spaceEvenlyContents
{
    justify-content: space-evenly;
}

.flexAdjustSize
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.titleRegColor
{
    background-color: cornflowerblue;
}

.infoRegColor
{
    background-color: antiquewhite;
}

.gameAreaRegColor
{
    background-color: rgb(25, 25, 25);
}

.hoverSpace
{
    height: 100%;

    padding: 0 5px;
}

#titleAndColor
{
    min-height: 150px;
    height: 20vh;
}

#infoAndDiff
{
    min-height: 25px;
    height: 3vh;
}

#difficultyEasy, #difficultyHard
{
    margin: 0px 10px;
}

#gameArea
{
    min-height: 400px;
    height:77vh;
}
