<% include ../partials/header %>
<link rel="stylesheet" href="/new/new.css">

<div class="ycPageSize">
    <div class="formLayout">
        <h1>Create a new campground</h1>

        <div class="formInput">
            <form class="formInput" action="/campgrounds" method="POST">
                <input class="ycInputText" type="text" name="name" placeholder="Name">
                <input class="ycInputText" type="text" name="image" placeholder="Image URL">
                <button class="ycPrimaryButton">Submit!</button>
            </form>

            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>