body 
{ 
    padding-top: 70px; 
    height: 100vh;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(248, 0, 0);
    margin: 1em 0;
    padding: 0; 
}

.bg 
{
    /* The image used */
    background-image: url("./images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center 
{
    padding-top: 10%;
}